/* general settings */
body {
    font-family: arial,sans-serif;
}

/******* navigation bar settings starting *******/
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
nav ul li {
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
}

#gmail:hover {
    text-decoration: underline;
}

#gmail:visited, #gmail:link {
    color: black;
}

#appselector {
    position: relative;
    bottom: 10px;
    width: 110%;
    padding: 2px;
}

#appselector:hover {
    cursor: pointer;
    background-color: black;
}

#signin {
    background-color: #4387fd;
    border: 1px solid #4285f4;
    padding: 8px 15px;
    color: white;
}

#signin:hover {
cursor: pointer;
}
/* end of navigation bar settings */

/******* main settings *******/
main {
    text-align: center;
}

#googlelogo {
    margin: 10px;
}

#field-search {
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #d3d7dd;
    background-image: url(search-logo.png);
    background-repeat: no-repeat;
    background-size: 4%;
    background-position: 15px center;
    background-color: white;
    padding-left: 60px;
    font-size: 18px;
}

#field-search:hover, #field-search:active, #field-search:focus {
    box-shadow: 2px 2px 10px gray;
}

.google-buttons {
    margin: 5px;
    padding: 10px 20px;
    color: #5F6368;
    border: 0;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.google-buttons:hover {
    border: 1px solid #5F6368;
    color: black;
}

/* end of main settings */

/******* footer settings *******/

footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;

}
footer a:link, footer a:visited {
    text-decoration: none;
    margin-bottom: 2px;
    color: rgba(0,0,0,.54);
}

footer a:hover {
    text-decoration: underline;
}

footer li {
    list-style-type: none;
    margin-right: 20px;
    
}

#footer-container-up {
    color: rgba(0,0,0,.54);
    line-height: 50px;
    border-top: 1px solid #e4e4e4;
    margin-left: 40px;;
}

#footer-container-down {
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e4e4e4;
    margin-right: 40px;
}
#left-footer {
    display: flex;
    float: left;
}


#right-footer {
    display: flex;
    float: right;
}
/* end of footer settings*/